#help{
width:75%;
margin:0 auto;
background:#FFFACD;
z-index:-5;
}
#help1{
width:30%;
float:left;
}
#avatar{
width:100%;
height:100px;

}
#divavatar{
margin:0px auto;
width:80%;
height:100px;
}
.pichki{
width:80%;
height:15px;
background:#FFE4B5;
margin:10px auto 0 auto;
text-align:center;
border:1px solid black;
}
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
#help2{
float:right;
width:70%;
}
.content{
margin:0px auto;
width:90%;
background:#FFE4B5;
border:1px solid black;
text-align:center; 
}
.content1{
margin:0px auto;
width:85%;
background:#DEB887;
border-left:1px solid black;
border-right:1px solid black;
}
#homo{
width:80%;
background:#FFE4B5;
position:fixed;
height:20%;
border:2px solid black;
z-index:1;
}
#helpi{
position:fixed;
}
#trou{
background:#D2B48C;
position:fixed;
width:25%;
height:8%;
text-align:center;
border:2px solid black;
}
#panel{
width:80%;
position:fixed;
height:12%;
z-index:0;
}
#cosar{
list-style:none;
list-style-position:inside; 
margin:0px;
padding:0px;
}
.parsha{
display:inline-block;
width:18.2%;
margin:0px;
}
.tfu{
background:#DEB887;
height:96%;
margin:0px;
margin-right:-2.5%;
text-align:center;
border-bottom:2px solid black;
border-right:2px solid black;
position:relative;
}
.parsha:nth-child(1) .tfu{
border-left:3px solid black;
}
.grech{
position:absolute;
bottom:15%;
text-align:center;
width:100%;
}
.imgpick{
position:absolute;
top:13%;
left:40%;
background-image:url("0b93a718281b3bb11c6be89cdd71a732.png");
background-position:-10px -15px;
}
#zakon{
list-style:none;
list-style-position:inside; 
margin:0px;
padding:0px;
}
.shito{
display:inline-block;
text-align:center;
width:20%;
}
.shito div{

}
.shito img{
border-radius:100%;
border:1px solid black;
}
.volki{
width:40px;
height:40px;
}
.resheto{
margin:-10px auto 0 auto;
}
.hateme{
margin:10px auto;
background:#DEB887;
}
.kerak{
display: inline-block;
    vertical-align: bottom;
    width:40px;
    height:40px;
    background: url("0b93a718281b3bb11c6be89cdd71a732.png") no-repeat;
    background-size:500px auto;
    background-position:-5px -5px;
    margin-top:4px; 
}
#napisat{
background-position:-305px -5px;
}
#dobavit{
background-position:-205px -55px;
}
#luchsh{
background-position:-55px -5px;
}
#nrav{
background-position:-155px -105px;
}
#kommentar{
background-position:-355px -5px;
}
.tfu:hover{
background:#F7D1A0;
}
.zakr:hover{
background:#FFFDCE;
}
#trou:hover{
background:#EBCDA5;
}
#forma{
float:right;
margin:10px 10px;
}
#jimba{
width:85%;
margin:10px auto;
background:#FFE4B5;
padding:10px;
border:1px solid black;
}

#klick{
padding:10px; 
float:right;
background:#DEB887;
width:30%;
border:1px solid black;
text-align:center;
}
#klick:hover{
background:#F7D1A0;
}
.homomenu{
position:absolute;
bottom:15%;
width:25%;
}
.homomenu:nth-child(1){
left:7%;
} 
.homomenu:nth-child(3){
right:7%;
}
#homeimg{
margin-right:5%;
}
#changephoto{
width:100%;
color:white;
background:black;
position:relative;
opacity:0.5;
visibility:hidden;
text-align:center;
}
#changephoto:hover{
opacity:0.7;
}
#traze{
background:url("font-awesome1.png") no-repeat;
display: inline-block;
width:20px;
height:20px;
background-position:-273px -34px;
background-size:600px auto;
position:relative;
top:5px;
margin-right:4%;
}
.zagruzka{
width:60%;
height:40%;
margin:auto;
background:white;
position:absolute;
visibility:hidden;
z-index:101;
}
#mrak{
width:100%;
opacity:0.6;
background:black;
position:absolute;
top:0px;
visibility:hidden;
z-index:100;
}
#homohome{
display:inline-block;
width:30%;
}

.spritepa{
display:inline-block;
background:url('0b93a718281b3bb11c6be89cdd71a732.png') no-repeat;
background-size:300px auto;
background-position:-153px -63px;
}
#formpa{
margin-bottom:0;
}
#formpa1{
width:70%;
}
.thieG{
width:58%;
background:#FFE4B5;
padding:1.5%;
border:1px solid black;
margin-right:4.4%;
margin-bottom:6px;
float:right;
}
.thieG:hover{
background:#FFE4B5;

}
.thie{
width:100%;
background:#FFE4B5;
margin-bottom:1.5%;
}
.thie div{
height:50px;
display:inline-block;
vertical-align:top;
margin:0;
}
.thie div:nth-child(1){
width:8%;
}
.thie div:nth-child(2){
width:47%; 
position:relative;
}
.thie div:nth-child(2) div{
position:absolute;
width:auto;
height:auto;
margin:1%;
margin-left:5%;
}
.thie div:nth-child(2) div:nth-child(2){
bottom:0;
}
.thie div:nth-child(3) div{
float:right;
width:10%;
height:20%;
background:red;
}

.thie div:nth-child(3){
width:45%; 
}
.thie div:nth-child(1) img{
width:100%;
height:100%;

}
.thieText{
width:100%;
background:#FFFACD;
height:90px;
}
